In [7]:
# Re-Train Classification Model for Titanic
# calculate Cross-Validation Precision, Recall, F-Score
# create ML pipeline
# check for missing values
# handle categorical data

# Loading Data
import numpy as np
import pandas as pd

# Read Training & Testing Data
X_full = pd.read_csv("./titanic/train.csv")
X_test = pd.read_csv("./titanic/test.csv")


# X_full has 891 rows, 12 columns
# NOTE: too many missing values in Cabin to get rid of all observations; 
# better to not use cabin
X_full.shape

(891, 12)

In [12]:
# Sum all missing values (Training Data) (Age, n = 177; Cabin, n = 687; Embarked, n = 2)
# NOTE: NO missing target "Survived"
X_full.isnull().sum()

# Sum all missing values (Testing Data) (Age, n = 86; Cabin, n = 327; Fare, n = 1)
#X_test.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
# Remove rows with missing "target" (no rows needed to be removed)

# Separate target from predictors
y = X_full.Survived
X_full.drop(['Survived'], axis=1, inplace=True)

#X_full.shape  (11 rows instead of 12)

(891, 11)

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Break off validation set from training data
# Divide "full data" into training and validation subsets
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X_full, y, train_size=0.8, test_size=0.2, random_state=0)

In [21]:
#X_train_full.head()
#X_valid_full.head()
#y_train.head()
#y_valid.head()

495    0
648    0
278    0
31     1
255    1
Name: Survived, dtype: int64

In [22]:
# Missing Values
# First, Need to drop Cabin column, drop rows with missing values in 'Age'
# Then, Select Categorical columns with relatively low cardinality
# Then, Select Numerical Columns
X_train_full.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
140,141,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
439,440,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S
817,818,2,"Mallet, Mr. Albert",male,31.0,1,1,S.C./PARIS 2079,37.0042,NaN,C
378,379,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
491,492,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S